#cd-timeline.single-column {

	.icon-rotated-square {

		.cd-timeline-img {
			left: -23px;
		}
	}

	.icon-small-dot {

		.cd-timeline-img {
			left: -13px;
		}
	}

	.icon-square {

		.cd-timeline-img {
			left: -25px !important;
		}
	}
}
